*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
   
}

body{
    background-color: #080D0D;
   
}

header{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    background-image: url(../img/capa.jpeg);   
    background-repeat: no-repeat; 
    background-size: cover;
    background-position-x: center;
    
}



header .simbolo img{
    width: 50px;
    margin-top: 2.70em;
}


 .lista__menu , .lista__itens{
    display: flex;
    list-style-type: none;
    padding: 0.50em;
    margin-top: 1em;
    
   
}

.lista__itens a{
    font-size: 1.10em;
    padding: 1em;
    color: #FFFFFE;
}

.lista__dois .lista__conteudo{
    display: flex;
    margin-top: 0.50em;
}

.lista__conteudo{
    justify-content: center;
    list-style-type: none;
    
}

.lista__conteudo a{
    padding: 0.50em;
    font-size: 1.30em;
    color: #FFFFFE;
}

.informaçoes .icones__informacoes{
    display: flex;
    margin-top: 2em;
    justify-content: space-around;
    align-items: center;
}

.icone__mais , .icone__informacao{
    width: 20px ;
    height: 20px;
    
    
}

  .bnt__play{
    width: 120px;
    padding: 12px;
    color: #080D0D;
    font-weight: bolder;
    border-radius: 10px;
    border: none;
  
}

.catalogo{
    margin-top: 7em;
    justify-content: space-around;
    
}

.catalogo  .img__catalogo{
    width: 30%;
    margin-left: 10px;
    padding: 2px;
    border-radius: 50%;
    align-items: center;
    border: 1px solid rgb(177, 41, 41);
}

.titulo__catalogo{
    margin-left: 1em;
    margin-bottom: 0.50em;
    color: #FFFFFE;
}

